---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item', 'item.objectid != nil' -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Sample Bookmarks" height="300" %}
  
  </div>
  <div class="col-md-4">  

    {% include index/featured-terms.html field="subject" max=10 title="Top Bookstore Specializations" btn-color="warning" %}

    {% include index/featured-terms.html field="location" max=10 title="Locations" btn-color="dark" %}
    

  </div>
  <div class="col-md-12">
    {% include feature/timelinejs.html %}
    {% include index/data-download.html %}

  </div>
</div>
